
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Kies je sport</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Welke sport wil je vandaag doen?</h1>
        <form method="POST" action="/vragen">
            <button name="keuze" value="hardlopen">Hardlopen</button>
            <button name="keuze" value="kracht_boven">Kracht boven</button>
            <button name="keuze" value="kracht_onder">Kracht onder</button>
            <button name="keuze" value="padel">Padel</button>
        </form>
    </div>
</body>
</html>
