
<!DOCTYPE html>
<html>
<head>
    <title>Kies je sport</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Welke sport wil je vandaag doen?</h1>
    <form method="POST" action="/vragen">
        <button name="keuze" value="hardlopen">Hardlopen</button>
        <button name="keuze" value="kracht_boven">Krachttraining boven</button>
        <button name="keuze" value="kracht_onder">Krachttraining onder</button>
        <button name="keuze" value="padel">Padellen</button>
    </form>
</body>
</html>
