
<!doctype html>
<html>
<head><title>Laatste trainingen</title><meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="/static/style.css"></head>
<body>
<div class="container">
    <h1>{{ sport.replace('_', ' ').capitalize() }} - Trainingscheck</h1>
    <form method="post">
        {% for code, vraag in vragen %}
            <label>{{ vraag }}</label><br>
            <input type="radio" name="{{ code }}" value="1" required> 1 dag geleden<br>
            <input type="radio" name="{{ code }}" value="2"> 2 dagen geleden<br>
            <input type="radio" name="{{ code }}" value="3"> Langer dan 2 dagen geleden<br><br>
        {% endfor %}
        <button type="submit">Bekijk advies</button>
    </form>
</div>
</body>
</html>
